//FUNCTION WITH MIXIN
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@200&family=Nunito+Sans:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@mixin initial() {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    color: #212121;
    box-sizing: border-box;
}

@mixin flex-align($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
