@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create";
    ViewData["Translate"] = "Criação";
    ViewData["Menu"] = "Employee";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<form method="post" asp-controller="Employee" asp-action="Create">
    <section class="create-employee">
    <section class="identity">
        <h5>Identificação</h5>
        <div class="identity-box">
            <div>
                <label>Código</label>
                <input type="text" name="id" />
            </div>
            <div>
                <label>Nome</label>
                <input type="text" placeholder="Ex: João António" name="name"/>
            </div>
            <div>
                <label>Apelido</label>
                <input type="text" placeholder="Ex: Matsinhe" name="surname"/>
            </div>
            <div>
                <label>Gênero</label>
                <select name="gender">
                    <option>Selecione</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                </select>
            </div>
                <div>
                    <label>Data de nascimento</label>
                    <input type="date" name="birthday"/>
                </div>
            <div>
                <label>Documento</label>
                <select name="document" asp-items="@ViewBag.Default.Document.Documents">
                    <option>Selecione</option>
                </select>
            </div>
            <div>
                <label>Número doc.</label>
                <input type="text" name="doc_number" />
            </div>
            <div>
                <label>Data de emissão</label>
                <input type="date" name="date_issue"/>
            </div>
            <div>
                <label>Local de emissão</label>
                <input type="text" name="place_issue"/>
            </div>
        </div>
    </section>
    <section class="address">
        <h5>Endereço</h5>
        <div class="address-box">
            <div>
                <label>Provincia</label>
                <select name="province" asp-items="@ViewBag.Default.Address.Province.Provinces">
                    <option>Selecione</option>
                </select>
            </div>
            <div>
                <label>Distrito</label>
                <select name="district" asp-items="@ViewBag.Default.Address.Province.District.Districts">
                    <option>Selecione</option>
                </select>
            </div>
            <div>
                <label>Bairo</label>
                <input type="text" name="neighborhood"/>
            </div>
            <div>
                <label>Rua</label>
                <input type="text" placeholder="Ex: Nelson Mandela, nr. 1500" name="road"/>
            </div>
            <div>
                <label>Avenida</label>
                <input type="text" name="avenue"/>
            </div>
        </div>
    </section>
    <section class="">
        <h5>Contacto</h5>
        <div class="contact-box">
            <div>
                <label>Email</label>
                <input type="email" placeholder="Ex: employee@emplo.com" name="email"/>
            </div>
            <div>
                <label>Telefone</label>
                <input type="text" placeholder="Ex: 881234567" name="phone"/>
            </div>
                <div>
                    <label>WhatsApp</label>
                    <input type="text" placeholder="Ex: 881234567" name="whatsap" />
                </div>
            <div>
                <label>Estado</label>
                <select name="status">
                    <option>Selecione</option>
                    <option>Activo</option>
                    <option>Inactivo</option>
                </select>
            </div>
        </div>
    </section>
    <section class="btn">
        <div>
            <a asp-area="" asp-controller="Employee" asp-action="Index">
                <i class="ri-arrow-left-circle-line"></i>
                Voltar</a>
        </div>
        <div>
            <button>
                <i class="fa-solid fa-save"></i>
                Register</button>
        </div>
    </section>
</section>
</form>

@{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    if (ViewData["error"] != null)
    {
        <script type="text/javascript">
            Swal.fire({
                title: 'Erro!',
                icon: 'error',
                html: '@ViewData["error"]',
                focusConfirm: true,
                confirmButtonText: 'OK, entendi!',
                showLoaderOnConfirm: true,
            });
        </script>
    }
}