@import '../function/_function';

.create-employee {
    background-color: #FEFEFE;
    padding: 0 8px;
    border-radius: 6px;

    h5 {
        padding-inline: 10px;
        color: #90a4ae;
        font-weight: 500;
    }

    div {
        padding: 4px;
        @include flex-align(column,initial,initial);

        input, select {
            padding: 6px 6px;
            font-size: 14px;
            border: 1px solid #f5f5f5;
            border-radius: 4px;
            outline: none;
            background-color: #FCFCFC;
        }

        label {
            color: #424242;
            font-size: 14px;
        }
    }

    .identity-box {
        display: grid;
        grid-template-columns: 33% auto 33%;
        padding-block: 0 20px;
        padding-inline: 6px;


        div {
            &:nth-child(1) {
                width: 50%;
            }

            &:nth-child(4) {
                width: 80%;
            }

            &:nth-child(5) {
                width: 70%;
            }

            &:nth-child(6) {
                width: 80%;
            }

            &:nth-child(7) {
                width: 50%;
            }

            &:nth-child(8) {
                width: 70%;
            }

            &:nth-child(9) {
                width: 70%;
            }
        }
    }

    .address-box {
        display: grid;
        grid-template-columns: 33% auto 33%;
        padding-block: 0 20px;
        padding-inline: 6px;

        div {
            width: 100%;

            &:nth-child(3) {
                width: 70%;
            }

            &:nth-child(4) {
                width: 70%;
            }

            &:nth-child(5) {
                width: 80%;
            }
        }
    }

    .contact-box {
        display: grid;
        grid-template-columns: 33% auto 33%;
        padding-block: 0 20px;
        padding-inline: 6px;

        div {
            &:nth-child(2) {
                width: 60%;
            }

            &:nth-child(3) {
                width: 60%;
            }

            &:nth-child(4) {
                width: 60%;
            }
        }
    }

    .btn {
        padding-block: 10px 2px;
        padding-inline: 6px;
        @include flex-align(row,start,initial);

        div {
            a, button {
                padding: 8px 16px;
                border-radius: 4px;
                cursor: pointer;
                color: #ffffff;
                font-size: 14px;
                @include flex-align(row,initial,center);

                i {
                    padding-right: 4px;
                    color: #ffffff;

                    &:first-child {
                        font-size: 16px;
                    }
                }
            }

            &:first-child a {
                background-color: #85929E;

                &:hover {
                    background-image: linear-gradient(45deg,#34495E, #85929E);
                }
            }

            &:last-child button {
                border: none;
                background-color: #3f51b5;

                &:hover {
                    background-image: linear-gradient(45deg,#261AB0, #3f51b5);
                }
            }
        }
    }
}
