@import '../function/_function';

.employee {
    padding-inline: 14px 0;


    .search {
        background-color: #FEFEFE;
        padding: 8px 0;
        margin-bottom: 4px;
        border-radius: 4px;
        @include flex-align(initial,space-between,initial);

        .add-btn {
            @include flex-align(initial,initial,center);

            a {
                background-color: #673ab7;
                padding: 6px 8px;
                border-radius: 4px;
                cursor: pointer;
                color: #ffffff;
                font-size: 13px;
                @include flex-align(initial,initial,center);

                i {
                    color: #ffffff;
                    font-size: 14px;
                }
            }
        }

        .sea {
            @include flex-align(initial,space-between,center);

            input, select {
                padding: 4px 6px;
                font-size: 13px;
                border: 1px solid #f5f5f5;
                border-radius: 4px;
                outline: none;
            }

            .select {
                margin-left: 10px;
            }

            .date {
                margin-left: 10px;
                @include flex-align(initial,initial,center);

                label {
                    padding-inline: 4px;
                }
            }
        }

        .search-btn {
            @include flex-align(initial,initial,center);

            input {
                padding: 5px 6px;
                font-size: 13px;
                border: 1px solid #f5f5f5;
                border-radius: 4px 0 0 4px;
                outline: none;
                width: 200px;
            }

            a {
                background-color: #673ab7;
                padding: 7px 8px;
                text-align: center;
                border-radius: 0 4px 4px 0;
                cursor: pointer;
                font-size: 13px;
                @include flex-align(initial,initial,center);

                i {
                    color: #ffffff;
                    font-size: 14px;
                }
            }
        }
    }

    .table {
        background-color: #FEFEFE;
        border-radius: 4px;
        padding: 8px 0;
        height: 70vh;

        table {
            width: 100%;

            td {
                color: #616161;
                padding-block: 6px;
                margin: 0;
            }

            thead {
                box-shadow: 0 0 2px #f5f5f5;
                background-color: #ffffff;
                font-size: 13px;
                font-weight: 700;

                td:first-child {
                    padding-inline: 8px;
                }

                td:last-child {
                    text-align: center;
                    width: 8%;
                }
            }

            tbody {
                font-size: 13px;

                td:first-child {
                    padding-inline: 8px;
                }

                .action {
                    @include flex-align(initial,center,center);

                    i {
                        padding: 4px 2px;
                        cursor: pointer;
                        font-size: 14px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .edit i {
                        color: #1009F0;
                        @include flex-align(column,center,center);
                    }

                    .delete {
                        background-color: yellow;

                        button {
                            border: none;
                            background-color: #ffffff;

                            i {
                                color: #F02909;
                                @include flex-align(column,center,center);
                            }
                        }
                    }

                    .detail i {
                        color: #E3B313;
                        @include flex-align(column,center,center);
                    }
                }
            }
        }
    }
}
