@import './palette/_palette';
@import './function/_function';

* {
    @include initial();
}

body {
    background-color: $bg-primary;
}

header > nav ul {
    @include flex-align(initial,initial,center);
}

header > nav {
    background-color: #ffffff;
    padding: 2px 100px;
    @include flex-align(initial,space-between,center);
}

header > nav .list {
    @include flex-align(initial,initial,center);
}

header > nav .list div:first-child i {
    padding-block: 4px;
    padding-inline: 6px;
    cursor: pointer;
    //font-size:16px;
}

header > nav .list div:last-child label {
    margin-left: 20px;
    cursor: pointer;
}

header > nav .profile > label {
    @include flex-align(initial,initial,center);
}

header > nav .logo i {
    font-size: 34px;
    padding-right: 10px;
    color: $test;
}

header > nav > h1 {
    text-align: center;
}

header > nav a {
    padding: 16px 16px;
    font-size: 14px;
    font-weight: 500;
    @include flex-align(initial,initial,center);
}

header > nav > div > ul {
    padding-inline: 40px;
}

header > nav > ul > a {
    font-weight: 400;
}

footer {
    padding: 8px 100px;
}
