@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800&family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@200&family=Nunito+Sans:wght@200;300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
  color: #212121;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background-color: #f5f5f5;
}
body main .sec {
  padding-inline: 100px;
}
body main .sec:first-child {
  padding-block: 18px;
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
}
body main .sec:first-child div:first-child {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
}
body main .sec:first-child div:first-child i {
  margin-right: 8px;
}
body main .sec:last-child {
  display: grid;
  grid-template-columns: 20% 80%;
}

header > section {
  background-color: #ffffff;
  padding-inline: 100px;
  padding-block: 4px;
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
}

header .logo label {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
}
header .logo label i {
  font-size: 30px;
}

header > section div:last-child {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
}
header > section div:last-child i:last-child {
  cursor: pointer;
  font-size: 20px;
}
header > section div:last-child div:first-child {
  width: 240px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  padding-inline: 6px;
  margin-right: 18px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
}
header > section div:last-child div:first-child input {
  outline: none;
  border: none;
  width: 100%;
  padding: 6px;
  background-color: #f5f5f5;
}
header > section div:last-child div:last-child {
  margin-left: 18px;
}
header > section div:last-child div:last-child label {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
}

main section:last-child > nav ul {
  margin-right: 16px;
}
main section:last-child > nav ul li:first-child a {
  background-color: #eeeeee;
}
main section:last-child > nav ul li {
  display: flex;
}
main section:last-child > nav ul li a {
  font-weight: 400;
  padding-block: 12px;
  padding-inline: 14px;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
}
main section:last-child > nav ul li a:hover {
  background-color: #eeeeee;
}
main section:last-child > nav ul li a i:first-child {
  padding-right: 10px;
}
