@import './palette/_palette';
@import './function/_function';

* {
    @include initial();
}

html {
    height: 100vh;

    body {
        background-color: #FEFEFE; /*#FBFBFB*/

        header {
            .logo {
                label {
                    @include flex-align(initial,initial,center);

                    i {
                        font-size: 30px;
                        color: #ffffff;
                    }
                }
            }

            section {
                //background-color: #673ab7;
                background-image: linear-gradient(45deg,#3e32a8, #6a1b9a);
                padding-inline: 80px;
                padding-block: 4px;
                @include flex-align(initial,space-between,center);

                div:last-child {
                    margin-left: 18px;
                    @include flex-align(initial,initial,center);

                    label {
                        @include flex-align(initial,initial,center);
                    }

                    i:last-child {
                        cursor: pointer;
                        font-size: 20px;
                        color: #ffffff;
                    }

                    div:first-child {
                        width: 240px;
                        border: 1px solid #f5f5f5;
                        border-radius: 4px;
                        padding-inline: 6px;
                        margin-right: 18px;
                        background-color: #f5f5f5;
                        @include flex-align(initial,initial,center);

                        input {
                            outline: none;
                            border: none;
                            width: 100%;
                            padding: 6px;
                            background-color: #f5f5f5;
                        }
                    }
                }
            }
        }

        main .sec {
            padding-inline: 80px;

            &:first-child {
                padding-block: 10px;
                @include flex-align(initial,space-between,center);

                .menu {
                    @include flex-align(initial,initial,center);

                    i {
                        margin-right: 8px;
                    }

                    h4 {
                        text-align: center;
                    }
                }

                .state {
                    @include flex-align(initial,end,center);
                    width: 30%;

                    a {
                        padding: 6px 12px;
                        border-radius: 4px;
                        background-color: #ffffff;
                        text-align: center;
                        font-size: 12px;
                        cursor: pointer;
                        @include flex-align(initial,end,center);

                        &:first-child {
                            margin-inline: 8px;
                            background-color: #673ab7;
                            color: #ffffff;
                            font-weight: bold;
                        }

                        &:last-child {
                            background-color: #673ab7;
                            color: #ffffff;
                            //font-weight: bold;

                            i {
                                padding-right: 4px;
                                color: #ffffff;
                            }
                        }
                    }

                    i {
                        //padding-inline: 4px;
                    }

                    .sale {
                        i {
                            color: #00c853;
                        }
                    }

                    .buy {
                        i {
                            color: #d50000;
                        }
                    }

                    p {
                        font-size: 10px;
                    }

                    .sale, .buy {
                        @include flex-align(initial,initial,center);

                        p {
                            text-align: end;
                        }
                    }
                }
            }

            &:last-child {
                display: grid;
                grid-template-columns: 20% 80%;

                nav {
                    ul {
                        margin-right: 16px;

                        li:first-child a {
                            background-color: #fafafa;
                            border-left: 4px solid #7e57c2;
                            color: #7e57c2;
                            //font-weight: bold;

                            i {
                                color: #7e57c2;
                            }
                        }

                        li {
                            display: flex;

                            a {
                                font-weight: 400;
                                padding-block: 12px;
                                padding-inline: 14px;
                                width: 100%;
                                cursor: pointer;
                                border-radius: 4px;
                                font-size: 14px;
                                border-left: 4px solid #FEFEFE;
                                @include flex-align(initial,initial,center);

                                &:hover {
                                    /*
                                        background-color: #eeeeee;
                                    color: #90a4ae;

                                    i {
                                        color: #90a4ae;
                                    }
                                   */
                                    background-color: #fafafa;
                                    border-left: 4px solid #7e57c2;
                                    color: #7e57c2;
                                    //font-weight: 500;

                                    i {
                                        color: #7e57c2;
                                    }
                                }

                                i:first-child {
                                    padding-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
