@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TinLayout.cshtml";
}

<div class="dashboard">
    <section>
        <div>
            <h5>Estoque</h5>
            <canvas></canvas>
        </div>
        <div>
            <h5>Finânceiro</h5>
            <canvas></canvas>
        </div>
    </section>
    <section>
        <div>
            <h5>Finânceiro</h5>
            <canvas></canvas>
        </div>
    </section>
</div>
